
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-size: 2rem;
}

li {
    font-size: 5rem;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid black 2px;
}

#id_Link {
    color: red;
    font-family: 'Zhi Mang Xing', cursive;
    list-style: none;
}

#tab{
    display:block;
    width:50%;
}


h2~.barva{
    color:green;
}

#naslov{
    text-align:center;
    text-decoration:underline;
    color:#86d125;
}

#polozaj{
    position:fixed;
    top:50px;
    left:80px;
}
